body {
    background-color:#111111;
  }
.header{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centro{
    background-color: white;
    height: 400px;
    width: 350px;
    margin-top: -650px;
    margin-left: 550px;
    text-align: center;
    border-radius: 15px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    height: 40px;
    width: 270px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "Segoe UI";
    font-size: 18px;
    margin-bottom: 7px;
  }
#btn{
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
    height: 25px;
    width: 50%;
    border-radius: 15px;
}
#register{
    margin-top: 150px;
    text-decoration: none;
}
#btn:hover{
    background-color: rgb(250, 200, 74);
    cursor: pointer;
}
#register:link{
    color: black;
}
#register:visited{
    color: black;
}
#register:hover{
    color: rgb(58, 58, 255);
}