body {
    background-color:#111111;
  }
.header{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    margin-left: 105px;
}
.centro{
    background-color: white;
    height: 400px;
    width: 350px;
    margin-top: -650px;
    margin-left: 550px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
    margin-left: 165px;
    height: 25px;
}
#register{
    margin-top: 150px;
    text-decoration: none;
    margin-left: 60px;
}
#btn:hover{
    background-color: rgb(250, 200, 74);
}
#register:link{
    color: black;
}
#register:visited{
    color: black;
}
#register:hover{
    color: rgb(58, 58, 255);
}