
#conteudo {
    text-align: center;
    font-family: "Segoe UI";
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-radius: 8px;
  }

#conteudo td,
#conteudo th {
  border: 0.3px solid black;
  color: goldenrod;
  padding: 8px;
}

.nomec{
	color: goldenrod;
	font-family: 'Segoe UI';
	font-size: 20px;
}
	
.cifrao{
	color: black;
	font-size: 30px;
    border: none;
}

.subtotal{
	margin-left: 39px;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.btn{
    font-size: 14px;
    background-color: goldenrod;
    color:black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin-top: 400px;
}

.pagamento {
    background-color: white;
    border-radius: 8px;
    height: 380px;
    width: 400px;
    float: right;
    margin-right: 100px;
}
  
.titulo-cad {
    font-size: 20px;
    text-align: center;
    font-family: "Segoe UI";
}
  
.input {
    height: 40px;
    width: 344px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "Segoe UI";
    font-size: 16px;
    margin-bottom: 7px;
}
  
.centro {
    font-family: "Segoe UI";
    font-size: 15px;
    margin-left: 22px;
}
  
.titulo-vencimento {
    font-family: "Segoe UI";
    margin-left: 18px;
}
  
.datanasc {
    font-size: 18px;
    margin-top: 10px;
    height: 40px;
    width: 344px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}
  
.btn-cad {
    font-family: "Segoe UI";
    font-size: 15px;
    color: white;
    background-color: goldenrod;
    border-radius: 15px;
    width: 200px;
    border: none;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
.btn-cad:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-l {
    font-family: "Segoe UI";
    font-size: 15px;
    color: white;
    background-color: goldenrod;
    border-radius: 15px;
    border: none;
}

.btn-l:hover {
    cursor: pointer;
    opacity: 0.8;
}

.limpar{
    text-decoration: none;
    color:goldenrod;
}

.final{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: goldenrod;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 15px;
    
}

.redirect{
    text-decoration: none;
    color: white;
}