body {
  background-color: #111111;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.form-horizontal{
  display: inline-block;
  margin-left: 125px;
  margin-top: 50px;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Segoe UI";
  color: black;
  display: inline-block;
  margin-left: -40px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
}
  
.price {
  color: black;
  font-size: 20px;
  font-family: "Segoe UI";
}
  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: goldenrod;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
}
  
.card button:hover {
  opacity: 0.8;
}

.nome_produto{
  font-size: 25px;
  font-family: "Segoe UI";
}

.img{
  height: 180px;
  width: 300px;
}

.botao{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: goldenrod;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
}

.botao:hover{
  opacity: 0.8;
}

.tabela{
  text-decoration: none;
  color: white;
}