body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    
}
a{
  color: white;
  text-decoration:none; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    --c: goldenrod;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

footer{
	position: fixed;
	bottom: 0;
}
.footer-distributed{
  position: a;
	background-color: rgb(0, 0, 0, 0.7);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 2px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-center {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
 
.footer-distributed .footer-icons{
	margin-top: 30px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	cursor: pointer;
	background-color: none;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
  margin-top: -30px;
	margin-bottom: 15px;
}

.rodape {
  color: white;
  font-family: 'Segoe UI';
}